<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.telegram.android.debug"
          android:versionCode="1"
          android:versionName="1.0">

    <permission android:name="org.telegram.android.debug.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="org.telegram.android.debug.permission.C2D_MESSAGE" />

</manifest>